body{
    margin:0;
    padding:0;
    background-color: rgba(216, 207, 207, 0.9);
}

.nav{
    margin-top: 0px;
    height: clamp(35px, 15vw, 15px);;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: flex-start;
    z-index: 10;
    background-color: rgba(164, 85, 20, 0.900);
}

.nav a{
    font-size: clamp(30px, 15vw, 10px);
    width: 25%;
    text-align: center;
    color: rgba(216, 207, 207, 0.9);
}

h2{
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 300%;
    top: 40px;
}

.bild1{
    display: flex;
    z-index: 1;
    background-image: url('Bilder/Logo.jpg');
    background-size: 100% 100%;
    align-items: center;
}

.bild2{
    display: none;
    z-index: 1;
    background-image: url('Bilder/Drift.gif');
    background-size: 100% 100%;
    align-items: center;
}

.bild3{
    display: none;
    z-index: 1;
    background-image: url('Bilder/Tuning-Kolbenruckholfeder.jpg');
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.obenBanner{
    align-self: flex-start;
    padding-left:30%;
    padding-right:30%;
}

.untenBanner{
    align-self: flex-end;
    padding-left:40%;
    padding-right:20%;
}

.btn{
    display: flex;
    position: absolute;
    z-index: 2;
    height: 25%;
    width: auto;
    left:0px;
}

.btn2{
    display: flex;
    position: absolute;
    z-index: 2;
    height: 25%;
    width: auto;
    right:0px;
}

#bild{
    position: absolute;
    margin-top: 2%;
    width:100%;
    height: clamp(350px, 30vw, 20px);
}
@media screen and (min-width:1280px){
    html{
        font-size: 160%;
      }
}
@media screen and (max-width:1280px){
    #wrap{
        width:50%;
    }
    .nav{
        justify-content: center;
        flex-wrap:wrap;
        height: clamp(240px, 30vw, 30px);
    }
    .nav a{
        font-size: 400%;
    }
    h2{
        top: 240px;
    }
    #bild{
        margin-top: 200px;
    }
    h3{
        font-size: 160%;
    }
    h5{
        font-size: 140%;
    }
    .Angebote{
        top: 200px;
    }
    .foot{
        font-size: 170%;
    }
}

footer{
    position: relative;
    margin-bottom: 0px;
}

.foot{
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top-style: solid;
    border-color: black;
}

.Angebote{
    display:flex;
    justify-content: space-around;
    margin-top: 460px;
    position:relative;
    flex-wrap: wrap;
    width: 100%;
}

.produkt{
    width: clamp(15%, 30vw, 30%);
    display: inline-block;
}

img{
    margin-left: 10px;
    height: auto;
    width: 80%;
}

.fullWidth{
    display: inline-block;
    margin-left: 3%;
}

.fullWidthR{
    display: inline-block;
    margin-right: 8%;
}

.fullWidthR a{
    color: black;
}

.filler{
    display: flex;
    justify-content: space-between;
    width:100%;
    background-color: rgb(164, 85, 20);
    margin-top: 3%;
}

.waren{
    top:3%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
}

.inline{
    display: inline;
}

#pro{
    margin-bottom: 3%;
}

.r{
    display: flex;
    margin-left: 1%;
    justify-content: space-between;
    width:90%;
}

#button{
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(164, 85, 20);
}

a{
    color: black;
}

.f{
    display: flex;
    margin-left: 1%;
    justify-content: space-between;
    flex-wrap: wrap;
    width:60%;
}

.d{
    display: block;
    justify-self: flex-start;
    width: 70%;
}

.center{
    position: relative;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(164, 85, 20);
    text-align: center;
}

.outer{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    top:100px;
}

.ainput{
    height: 30px;
    width: auto;
    background-color: rgba(216, 207, 207, 0.9);
}

.action{
    font-size: 120%;
    text-align: start;
}

.anmelden{
    height:50px;
    width: 100px;
}

.lin{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top:100px;
}

.sup{
    position: relative;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(164, 85, 20);
    left: 2%;
}

.sinput{
    height: 200px;
    width: 800px;
    background-color: rgba(216, 207, 207, 0.9);
}
