body{
  background-image: linear-gradient(to left, #FF33CA, #FF33DD, #FF33F3, #EC33FF, #DD33FF, #CA33FF, #C433FF);
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
